.modal {
    .content-body {
        .red {
            color: red;
        }
    }
}

.manage-users-container {
    i {
        padding-right: 7px;
    }

    .actions {
        .refresh {
            margin-right: 10px;
        }
    }
}

.table {
    table-layout: fixed;
    width: 100%;
    
    th {

        border: 1px solid #ddd;
    }

    td {
        border: 1px solid #ddd;
    }
}


.container {
    .user-body {
        table {}
    }
}