.modal-user {
    .content-body {
        .red {
            color: red;
        }
    }
}

.manage-users-container {
    i {
        padding-right: 7px;
    }

    .actions {
        margin-top: 20px;
        margin-left: 20px;
        .refresh {
            margin-right: 20px;
            
        }
    }
}

.container {
    .user-body {
        table {}
    }
}